<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Form</title>
  </head>
  <body>
    <h1>User Information Form</h1>
    <form action="/users" method="post">
      <div>
        <label for="fullName">Name</label>
        <input type="text" name="fullName" id="fullName" />
      </div>
      <div>
        <label for="email"> Email </label>
        <input type="email" name="email" id="email" />
      </div>
      <button type="submit">Save Info</button>
    </form>
  </body>
</html>
